@model ProyectoFinalEnt.Models.Director;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registrarse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container mt-5 pt-5">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-header">
                    Registrarse
                </div>
            </div>
            <div class="card-body">
                <form asp-controller="Inicio" asp-action="Registrarse_D" metohod="post">
                    <label for="usuario">Director</label>
                    <br>
                    <input class="form-control mb-3" type="text" placeholder="Cedula" asp-for="CedulaD">
                    <span asp-validation-for="CedulaD" class="text-danger"></span>
                    <input class="form-control mb-3" type="text" placeholder="Nombre" asp-for="NombreD">
                    <input class="form-control mb-3" type="text" placeholder="Apellido" asp-for="ApellidoD">
                    <input class="form-control mb-3" type="text" placeholder="Instituto" asp-for="NombreInstD">
                    <input class="form-control mb-3" type="text" placeholder="Correo" asp-for="CorreoD">
                    <span asp-validation-for="CorreoD" class="text-danger"></span>
                    <input class="form-control mb-3" type="text" placeholder="Clave" asp-for="ClaveD">
                    <span asp-validation-for="ClaveD" class="text-danger"></span>
                    <div class="d-grid gap-2 mb-3">
                        <button class="btn btn-primary" type="submit">Registrarse</button>
                    </div>
                    @if (ViewData["Mensaje"] != null)
                    {
                        <div class="form-group">
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        </div>
                    }
                    ¿Ya tienes una cuenta?<a href="@Url.Action("IniciarSesion","Inicio")">Iniciar Sesion</a>
                    <br>
                    <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <br>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
